@import url(//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
@import "angular-material";

main {
    height: 90%;

    &.login {
        text-align: center;
    }
}

.total {
    text-align: center;
}

a.md-fab {
    position: fixed !important;
}

