@import url(//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
@import "angular-material";
@import "ng-mfb";

main {
    height: 90%;

    &.login {
        text-align: center;
    }
}

md-list {
    padding-bottom: 110px;
}

.total {
    text-align: center;
    text-transform: uppercase;
}

a.md-fab {
    position: fixed !important;
}

h2.md-title {
    text-align: right;
    .recurrence {
        display: block;
        font-size: 0.7em;
        color: #888;
        line-height: 1.9em;
        text-transform: lowercase;
    }
}

.date-range {
    display: block;
    font-size: 0.4em;
    font-weight: bold;
    color: #999;
}

md-progress-linear {
    height: 10px;
    margin-top: -5px;
}